.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.productName {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.productDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
}

table {
    border: 3px solid black;
    min-width: 1110px;
    height: 450px;
    border-collapse: collapse;
    flex: 1;
}

td,
th {
    border: 3px solid black;
    padding: 10px;
    text-align: left;
    font-size: 30px;
}